<div class="image-container">
  <div class="image-1" style="background-image: url('assets/snake-master/menu-1.png');">
    <div class="floating-buttons-container d-flex justify-content-center align-items-center">
      <button class="btn btn-circle d-flex align-items-center justify-content-center" style="--delay: 0s;">
        <i class="bi bi-briefcase-fill"></i>
        <span class="tooltip-text">Career</span>
      </button>
      <button class="btn btn-circle d-flex align-items-center justify-content-center" routerLink="new"
        style="--delay: 1s;">
        <i class="bi bi-play-circle-fill"></i>
        <span class="tooltip-text">Quick Play</span>
      </button>
      <button class="btn btn-circle d-flex align-items-center justify-content-center" routerLink="leaderboards"
        style="--delay: 2s;">
        <i class="bi bi-trophy-fill"></i>
        <span class="tooltip-text">Leaderboards</span>
      </button>
      <button class="btn btn-circle d-flex align-items-center justify-content-center" routerLink="achievements"
        style="--delay: 3s;">
        <i class="bi bi-star-fill"></i>
        <span class="tooltip-text">Achievements</span>
      </button>
      <button class="btn btn-circle d-flex align-items-center justify-content-center" style="--delay: 4s;">
        <i class="bi bi-info-circle-fill"></i>
        <span class="tooltip-text">About Us</span>
      </button>
    </div>
  </div>
</div>
