<hr class="p-0 m-0 text-light">
<nav class="navbar navbar-light bg-primary d-flex justify-content-start">
  <span class="text-light nav-item-1 px-1">
    <button class="btn btn-sm text-light" routerLink="snake-master">
      Snake master
    </button>
  </span>
  <span class="text-light nav-item px-1">
    <button class="btn btn-sm text-light" routerLink="ball-blast">
      Ball Blast
    </button>
  </span>
  <span class="text-light nav-item px-1">
    <button class="btn btn-sm text-light" routerLink="snake-master">
      Fruit Ninja
    </button>
  </span>
</nav>
<hr class="p-0 m-0 text-light">
<div>
  <router-outlet></router-outlet>
  <button class="chat-btn btn btn-warning rounded-circle" (click)="toggleChat()">
    <i class="bi bi-chat-fill"></i>
  </button>

  @if (showChat) {
  <div class="chat-module">
    <div class="chat-header">
      Global Chat
      <button class="chat-close-btn" (click)="toggleChat()">&times;</button>
    </div>
    <div class="chat-content">
      <router-outlet name="chat"></router-outlet>
    </div>
  </div>
  }

</div>
