<div>
  <nav class="navbar navbar-light bg-success" style="height: 6vh">
    <div class="container-fluid container-div">
      <div class="col-4">
        <a class="navbar-brand mx-4">
          <span class="badge bg-warning text-dark btn" routerLink="/">SNAKE MASTER</span>
        </a>
      </div>
      <div class="col-8 d-flex justify-content-end align-items-center">
        <!-- <button (click)="toggleSound()" class="btn text-light">
          <i class="bi" [ngClass]="isSoundOn ? 'bi-volume-up' : 'bi-volume-mute'"></i>
        </button> -->
        <span *ngIf="user" class="badge me-4">Welcome, {{ user.name }}</span>
        <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-end bg-success-subtle">
          <li routerLink="profile" class="dropdown-item py-2 btn">
            <i class="bi bi-person-circle me-1 text-primary"></i> View Profile
          </li>
          <li (click)="logout()" class="dropdown-item py-2 btn">
            <i class="bi bi-box-arrow-right me-1 text-primary"></i> Logout
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="game-container">
    <router-outlet></router-outlet>
  </div>
</div>
